.post {
    padding: 10px 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
    position: relative;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.post .header {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.post img {
    display: block;
    width: 100%;
    height: auto;
}

.post .content {
    padding: 10px 0;
    color: #666;
}

.post .curtidas {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.post .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
    cursor: pointer;
}